body {
  background-image: url(https://img.freepik.com/fotos-premium/fondos-pantalla-nubes-tormenta-fondos-pantalla-nubes-tormenta-inspiradores-fondo-pantalla-cueva-semana-fondos-pantalla-nubes-tormenta-hermosos-fondos-pantalla-nubes-tormenta-fondo-pantalla-cueva-semana_888836-390.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
